@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');


body, button {
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.hasura-video-iframe {
    height: 330px;
    width: 600px;
    border-radius: 8px;
}